<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
  $(document).ready(function(){
    $('[data-toggle="modal"]').tooltip();
  });
</script>
<!--Table-->
<form>
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8"><h2><b>Configuration Types</b></h2>
                            <br>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addandupdateconfigtypeModal" data-backdrop="static" data-keyboard="false" (click)="addClick()">Add Configuration Type</button>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let configtype of ConfigurationTypeList">
                            <td>{{configtype.ConfigurationTypeID}}</td>
                            <td>{{configtype.Description}}</td>                        
                            <td>
                                <a style="cursor: pointer" href="#viewconfigurationTypeModal" (click)="viewClick(configtype)" class="view" title="View" data-toggle="modal"><i class="material-icons">&#xE417;</i></a>
                                <a style="cursor: pointer" class="delete" (click)="deleteconfigtype(configtype)"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                            </td>
                        </tr>               
                    </tbody>
                </table>
            </div>
        </div>  
    </div>    
</form>
<!--Add and Update Modal-->
<div id="addandupdateconfigtypeModal" class="modal fade" aria-labelledby="addupdateModallabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">						
                <h4 class="modal-title" id="addupdateModallabel">{{ModalTitle}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeClick()">&times;</button>
            </div>
            <div class="modal-body">
                <app-addconfigtype [configurationType]="configurationType" *ngIf="ActivateAddEditDepComp"></app-addconfigtype>		
            </div>
        </div>
    </div>
</div>
<!--View Modal-->
<form>
    <div id="viewconfigurationTypeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">						
                    <h4 class="modal-title">Configuration Type Details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div>
                        <label for="Name" class="col-6 col-form-label" >Type:</label>
                        <label class="col-6 col-form-label">{{configurationtypebyid.Description}}</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Close">
                </div>
            </div>
        </div>
    </div>    
</form>


