<div class="wrapper">
  <nav id="sidebar" *ngIf="ShowNavBar">
      <div class="sidebar-header">
          <h3>The Giftery ZA</h3>
          <strong>
            <img src="assets/images/thegiftery.jpg" alt="thegiftery.jpg" height="50px">
          </strong>
      </div>

      <ul class="list-unstyled components">
          <li class="active">
              <a routerLink="/dashboard" routerLinkActive="active">
                  <i class="fas fa-chart-pie"></i>
                  Dashboard
              </a>
          </li>
          <li class="active">
              <a href="#">
                  <i class="fa fa-shopping-cart"></i>
                  Orders
              </a>
          </li>
          <li class="active">
              <a href="#productSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fas fa-copy"></i>
                  Products
              </a>
              <ul class="collapse list-unstyled" id="productSubmenu">
                  <li>
                      <a routerLink="/product" routerLinkActive="active">Products</a>
                  </li>
                  <li>
                    <a routerLink="/productcategory" routerLinkActive="active">Product Categories</a>
                    </li>
                  <li>
                      <a routerLink="/producttype" routerLinkActive="active">Product Types</a>
                  </li>
                  <li>
                      <a routerLink="/configuration" routerLinkActive="active">Configuration</a>
                  </li>
                  <li>
                      <a routerLink="/configurationtype" routerLinkActive="active">Configuration Types</a>
                  </li>
              </ul>
          </li>
          <li class="active">
              <a href="#quotationSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fa fa-file"></i>
                  Quotations
              </a>
              <ul class="collapse list-unstyled" id="quotationSubmenu">
                  <li>
                      <a>Quotation Requests</a>
                  </li>
              </ul>
          </li>
          <li class="active">
            <a href="#inventorySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-shopping-basket"></i>
                Inventory
            </a>
            <ul class="collapse list-unstyled" id="inventorySubmenu">
                <li>
                    <a routerLink="/inventory" routerLinkActive="active">Inventory</a>
                </li>
                <li>
                  <a routerLink="/inventorytype" routerLinkActive="active">Inventory Types</a>
              </li>
            </ul>
        </li>
        <li class="active" *ngIf="HideEmployee">
            <a href="#supplierSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-shopping-basket"></i>
               Suppliers
            </a>
            <ul class="collapse list-unstyled" id="supplierSubmenu">
                <li>
                    <a routerLink="/supplier" routerLinkActive="active" >Suppliers</a>
                </li>
                <li>
                  <a routerLink="/suppliertype" routerLinkActive="active" >Supplier Types</a>
              </li>
            </ul> 
        </li>
          <li class="active" *ngIf="HideEmployee">
              <a href="#employeeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fa fa-shopping-basket"></i>
                 Employees
              </a>
              <ul class="collapse list-unstyled" id="employeeSubmenu">
                  <li>
                      <a routerLink="/register" routerLinkActive="active" >Register Employee/Admin</a>
                  </li>
                  <li>
                    <a routerLink="/employee" routerLinkActive="active" >Manage Employees</a>
                </li>
              </ul>
          </li>
          <li class="active">
            <a href="#">
                <i class="fa fa-calendar"></i>
                Schedule
            </a>
        </li>
          <li class="active">
              <a href="#">
                  <i class="fas fa-copy"></i>
                  Reports
              </a>
          </li>
          
          <li class="active">
            <a href="#">
                <i class="fas fa-cog"></i>
                Maintenance
            </a>
        </li>
          <li class="active">
              <a (click)=logout()>
                  <i class="fa fa-user"></i>
                  Sign Out
              </a>
          </li>
      </ul> 
  </nav>
  <div id="content">
  <nav class="navbar navbar-header navbar-expand-lg navbar-light bg-light" *ngIf="ShowNavBar">
      <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="btn btn-light">
              <i class="fas fa-bars"></i>
          </button>
          <button type="button" id="sidebarCollapse" class="btn btn-light">
              <i class="fa fa-bell"></i>
          </button>
      </div>
  </nav>  
  <router-outlet></router-outlet>
</div>
</div>

